@model IEnumerable<DailyQuest_v01.Models.VirtualRole>

@{
    ViewData["Title"] = "Index";
}

<h1>虛擬角色管理</h1>

<hr>

<p>
    <a asp-action="Create">新增紀錄</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolePhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoleId">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.RoleId">紀錄詳情</a> |
                <a asp-action="Delete" asp-route-id="@item.RoleId">刪除</a>
            </td>
        </tr>
        }
        
    </tbody>
</table>
